<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


        <style>
            ul {
                list-style-type: none;
            }
        </style>
</head>

<body>

<br><br>

    <div class="container">
        <center><img src="/static/4.jpeg" height="150" ></center><br>
        <h1 style="text-align: center;">Set Medicine Box Name and Quantity</h1>
    </div>
<br><br><br>

    <div class="container">
        <ul>
            <li>
        <div class="row">

            <div class="col-6">

                <form class="row row-cols-lg-auto g-3 align-items-center">
                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                            <!-- <div class="input-group-text">Box 1</div> -->
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Box1 :">
                        </div>
                    </div>

                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                            <!-- <div class="input-group-text">@</div> -->
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Quantity :">
                        </div>
                    </div>



                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                
                    </div>
                </form>
            </div>

            <div class="col-6">

                <form class="row row-cols-lg-auto g-3 align-items-center">
                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                            <!-- <div class="input-group-text">Box 1</div> -->
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Box2 :">
                        </div>
                    </div>

                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                            <!-- <div class="input-group-text">@</div> -->

                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Quantity :">
                        </div>
                    </div>
                    <!-- <div class="col-12">
              <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
              <select class="form-select" id="inlineFormSelectPref">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div> -->



                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        
                    </div>
                </form>

            </div>
        </div>

    </li>

    <!-- 2 -->
    <br>

    <li>
        <div class="row">

            <div class="col-6">

                <form class="row row-cols-lg-auto g-3 align-items-center">
                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                            <!-- <div class="input-group-text">Box 1</div> -->
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Box3 :">
                        </div>
                    </div>

                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                            <!-- <div class="input-group-text">@</div> -->
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Quantity :">
                        </div>
                    </div>



                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        
                    </div>
                </form>
            </div>

            <div class="col-6">

                <form class="row row-cols-lg-auto g-3 align-items-center">
                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                            <!-- <div class="input-group-text">Box 1</div> -->
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Box4 : ">
                        </div>
                    </div>

                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                            <!-- <div class="input-group-text">@</div> -->
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Quantity :">
                        </div>
                    </div>
                    <!-- <div class="col-12">
              <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
              <select class="form-select" id="inlineFormSelectPref">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div> -->



                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        
                    </div>
                </form>

            </div>
        </div>

    </li>


    <!-- 3 -->
    <br>

    <li>
        <div class="row">

            <div class="col-6">

                <form class="row row-cols-lg-auto g-3 align-items-center">
                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                            <!-- <div class="input-group-text">Box 1</div> -->
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Box5 :">
                        </div>
                    </div>

                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                            <!-- <div class="input-group-text">@</div> -->
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Quantity :">
                        </div>
                    </div>



                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        
                    </div>
                </form>
            </div>

            <div class="col-6">

                <form class="row row-cols-lg-auto g-3 align-items-center">
                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                            <!-- <div class="input-group-text">Box 1</div> -->
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Box6 :">
                        </div>
                    </div>

                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                            <!-- <div class="input-group-text">@</div> -->
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Quantity :">
                        </div>
                    </div>
                    <!-- <div class="col-12">
              <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
              <select class="form-select" id="inlineFormSelectPref">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div> -->



                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        
                    </div>
                </form>

            </div>
        </div>

    </li>

    <!-- 4 -->

    <br>

    <li>
        <div class="row">

            <div class="col-6">

                <form class="row row-cols-lg-auto g-3 align-items-center">
                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                            <!-- <div class="input-group-text">Box 1</div> -->
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Box7 : ">
                        </div>
                    </div>

                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                            <!-- <div class="input-group-text">@</div> -->
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Quantity :">
                        </div>
                    </div>



                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    
                    </div>
                </form>
            </div>

            <div class="col-6">

                <form class="row row-cols-lg-auto g-3 align-items-center">
                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                            <!-- <div class="input-group-text">Box 1</div> -->
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Box8 : ">
                        </div>
                    </div>

                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                            <!-- <div class="input-group-text">@</div> -->
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Quantity :">
                        </div>
                    </div>
                    <!-- <div class="col-12">
              <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
              <select class="form-select" id="inlineFormSelectPref">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div> -->



                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                
                    </div>
                </form>

            </div>
        </div>

    </li>
<!-- 5 -->

<br>

    <li>
        <div class="row">

            <div class="col-6">

                <form class="row row-cols-lg-auto g-3 align-items-center">
                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                            <!-- <div class="input-group-text">Box 1</div> -->
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Box9 : ">
                        </div>
                    </div>

                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                            <!-- <div class="input-group-text">@</div> -->
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Quantity :">
                        </div>
                    </div>



                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        
                    </div>
                </form>
            </div>

            <div class="col-6">

                <form class="row row-cols-lg-auto g-3 align-items-center">
                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                            <!-- <div class="input-group-text">Box 1</div> -->
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Box10 :">
                        </div>
                    </div>

                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                            <!-- <div class="input-group-text">@</div> -->
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Quantity :">
                        </div>
                    </div>
                    <!-- <div class="col-12">
              <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
              <select class="form-select" id="inlineFormSelectPref">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div> -->



                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        
                    </div>
                </form>

            </div>
        </div>

    </li>
<!-- 6 -->
<br>

    <li>
        <div class="row">

            <div class="col-6">

                <form class="row row-cols-lg-auto g-3 align-items-center">
                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                            <!-- <div class="input-group-text">Box 1</div> -->
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Box11 :">
                        </div>
                    </div>

                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                            <!-- <div class="input-group-text">@</div> -->
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Quantity :">
                        </div>
                    </div>



                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        
                    </div>
                </form>
            </div>

            <div class="col-6">

                <form class="row row-cols-lg-auto g-3 align-items-center">
                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                            <!-- <div class="input-group-text">Box 1</div> -->
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Box12 :">
                        </div>
                    </div>

                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                            <!-- <div class="input-group-text">@</div> -->
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Quantity :">
                        </div>
                    </div>
                    <!-- <div class="col-12">
              <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
              <select class="form-select" id="inlineFormSelectPref">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div> -->



                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        
                    </div>
                </form>

            </div>
        </div>

    </li>
<!-- 7 -->


<br>

    <li>
        <div class="row">

            <div class="col-6">

                <form class="row row-cols-lg-auto g-3 align-items-center">
                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                            <!-- <div class="input-group-text">Box 1</div> -->
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Box13 :">
                        </div>
                    </div>

                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                            <!-- <div class="input-group-text">@</div> -->
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Quantity :">
                        </div>
                    </div>



                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                
                    </div>
                </form>
            </div>

            <div class="col-6">

                <form class="row row-cols-lg-auto g-3 align-items-center">
                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                            <!-- <div class="input-group-text">Box 1</div> -->
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Box14 :">
                        </div>
                    </div>

                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                            <!-- <div class="input-group-text">@</div> -->
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Quantity :">
                        </div>
                    </div>
                    <!-- <div class="col-12">
              <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
              <select class="form-select" id="inlineFormSelectPref">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div> -->



                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        
                    </div>
                </form>

            </div>
        </div>

    </li>

    <!-- 8 -->
    <br>

    <li>
        <div class="row">

            <div class="col-6">

                <form class="row row-cols-lg-auto g-3 align-items-center">
                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                            <!-- <div class="input-group-text">Box 1</div> -->
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Box15 :">
                        </div>
                    </div>

                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                            <!-- <div class="input-group-text">@</div> -->
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Quantity :">
                        </div>
                    </div>



                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    
                    </div>
                </form>
            </div>

            <div class="col-6">

                <form class="row row-cols-lg-auto g-3 align-items-center">
                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                            <!-- <div class="input-group-text">Box 1</div> -->
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Box16 :">
                        </div>
                    </div>

                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                            <!-- <div class="input-group-text">@</div> -->
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Quantity :">
                        </div>
                    </div>
                    <!-- <div class="col-12">
              <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
              <select class="form-select" id="inlineFormSelectPref">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div> -->



                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        
                    </div>
                </form>

            </div>
        </div>

    </li>

    <!-- 9 -->
    <br>

    <li>
        <div class="row">

            <div class="col-6">

                <form class="row row-cols-lg-auto g-3 align-items-center">
                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                            <!-- <div class="input-group-text">Box 1</div> -->
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Box17 :">
                        </div>
                    </div>

                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                            <!-- <div class="input-group-text">@</div> -->
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Quantity :">
                        </div>
                    </div>



                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        
                    </div>
                </form>
            </div>

            <div class="col-6">

                <form class="row row-cols-lg-auto g-3 align-items-center">
                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                            <!-- <div class="input-group-text">Box 1</div> -->
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Box18 :">
                        </div>
                    </div>

                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                            <!-- <div class="input-group-text">@</div> -->
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Quantity :">
                        </div>
                    </div>
                    <!-- <div class="col-12">
              <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
              <select class="form-select" id="inlineFormSelectPref">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div> -->



                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                       
                    </div>
                </form>

            </div>
        </div>

    </li>
<!-- 10 -->

<br>

    <li>
        <div class="row">

            <div class="col-6">

                <form class="row row-cols-lg-auto g-3 align-items-center">
                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                            <!-- <div class="input-group-text">Box 1</div> -->
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Box19">
                        </div>
                    </div>

                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                            <!-- <div class="input-group-text">@</div> -->
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Quantity :">
                        </div>
                    </div>



                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                       
                    </div>
                </form>
            </div>

            <div class="col-6">

                <form class="row row-cols-lg-auto g-3 align-items-center">
                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                            <!-- <div class="input-group-text">Box 1</div> -->
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Box20 :">
                        </div>
                    </div>

                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                            <!-- <div class="input-group-text">@</div> -->
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Quantity :">
                        </div>
                    </div>
                    <!-- <div class="col-12">
              <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
              <select class="form-select" id="inlineFormSelectPref">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div> -->



                    <div class="col-6">
                        <button type="submit" class="btn btn-primary">Submit</button>
                       
                    </div>
                </form>

            </div>
        </div>

    </li>


    </ul>









    </div>






    <!-- </div> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>